@import "./estilos-gerais.css";
@import "./header.css";

.intro {
  grid-column: 2/4;
  padding-top: 124px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0 repeat(3, auto);
  grid-template-areas:
    ". ."
    "h1 ."
    "p ."
    "a ."
    ". .";
  align-content: start;
  gap: 30px;
}
.intro h1 {
  grid-area: h1;
  position: relative;
  font-size: clamp(2.5em, 7vw, 4em);
  background: -webkit-linear-gradient(
    45deg,
    var(--gray),
    var(--yellow) 25%,
    var(--orange) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro p {
  grid-area: p;
  margin-top: 1em;
  max-width: 470px;
}
.intro a {
  display: inline-block;
  justify-self: left;
  align-self: end;
  grid-area: a;
  margin-top: 3.5em;
  color: var(--dark);
  background: -webkit-linear-gradient(
    55deg,
    var(--gray),
    var(--yellow) 25%,
    var(--orange) 75%
  );
  box-shadow: 0 0 15px 0 rgba(28, 28, 28, 0.5);
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 30px;
}
.intro-img {
  padding-top: 124px;
  padding-bottom: 30px;
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 100vh;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: inherit;
}
.intro-img .swiper-container {
  grid-column: 3/5;
  cursor: pointer;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left: 0;
  width: 100%;
}
@media only screen and (max-width: 1100px) {
  .intro-img .swiper-container {
    grid-column: 3/4;
    border-radius: 30px;
  }
}
@media only screen and (max-width: 960px) {
  .intro {
    min-height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "h1"
      "p"
      "a"
      "img";
  }
  .intro h1 {
    text-align: center;
  }
  .intro p {
    margin: 0 auto;
    text-align: center;
  }
  .intro a {
    margin: 0 auto;
    align-self: start;
    margin-top: 1em;
    z-index: 2;
  }
  .intro-img {
    position: relative;
    grid-row: 2/3;
    padding-top: 0;
    margin-bottom: -60px;
  }
  .intro-img .swiper-container {
    grid-column: 2/4;
    margin-top: -60px;
  }
}
@media only screen and (max-width: 700px) {
  .intro-img {
    height: 80vh;
    margin-bottom: -90px;
  }
}
@media only screen and (max-width: 500px) {
  .intro-img {
    height: 70vh;
  }
}

.separador-selvagens {
  grid-column: 1/-1;
  background: var(--green);
  height: 100px;
  transform: rotate(4deg) skew(4deg);
  z-index: -1;
  width: 100%;
  overflow-x: hidden;
  box-shadow: 5px 0 0 var(--green), -5px 0 0 var(--green);
}
.separador-selvagens.top {
  margin-top: 60px;
  margin-bottom: -50px;
}
.separador-selvagens.bottom {
  margin-top: -50px;
}

.selvagens {
  grid-column: 1/-1;
  padding: 15px 0 30px;
  display: grid;
  grid-template-columns: inherit;
  gap: 30px;
  background: var(--green);
  box-shadow: 10px 0 var(--green);
}
.selvagens h1 {
  grid-column: 2/4;
}
.selvagens p {
  grid-column: 2/3;
}
@media only screen and (max-width: 760px) {
  .selvagens {
    grid-template-columns: 1fr 10fr 1fr;
  }
  .selvagens h1 {
    grid-column: 2/3;
  }
  .selvagens p {
    grid-column: 2/3;
  }
  .selvagens .lista-link {
    grid-column: 2/3;
  }
}
.selvagens .lista-link li:hover a {
  padding: 40px 20px;
}
.selvagens .lista-link li:nth-child(1) a:hover {
  background: url(../img/selvagens/alligator-500.jpg);
  background-size: cover;
  background-position: center bottom;
}
.selvagens .lista-link li:nth-child(2) a:hover {
  background: url(../img/selvagens/gorilla-500.jpg);
  background-size: 120%;
  background-position: center;
}
.selvagens .lista-link li:nth-child(3) a:hover {
  background: url(../img/selvagens/antelope-500.jpg);
  background-size: 120%;
  background-position: center 30%;
}
.selvagens .lista-link li:nth-child(4) a:hover {
  background: url(../img/selvagens/beaver-500.jpg);
  background-size: 120%;
  background-position: center 40%;
}
.selvagens .lista-link li:nth-child(5) a:hover {
  background: url(../img/selvagens/bear-500.jpg);
  background-size: 120%;
  background-position: center 55%;
}
